
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,700;1,100;1,200;1,300;1,400;1,700&display=swap');

*, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}
body{
    background-color: #e1e9f3;
}

/* Modification UI */
.button{
    width: 100%;
    border-radius: 10px !important;
    margin: 5px 0 !important;
}

.field input{
    background: #dbe3ec !important;
    border-radius: 10px !important;
}

.modal,.modal .header, .modal .content{
    background-color: #e1e9f3 !important;
}

/* Modification UI */

/* Début style navbar */

.conteneur-navbar{
    width: 100%;
    height: 70px;
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0,0,0,0.3);
    box-shadow: 0px 5px 13px 0px #d8e0ea ;
    font-size: small;
}

.menu{
    display: none;
}

.conteneur-navbar ul {
    height: 100%;
    text-align: center;
    display: inline-block;
}

.conteneur-navbar ul li{
    display: inline-block;
    line-height: 50px;
}

.conteneur-navbar ul li a{
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 8px;
    text-decoration: none;
    color: black;
    transition: background-color 0.5s ease;
    cursor: pointer;
}

.conteneur-navbar ul li a:hover{
    border: 1px solid #d7dfe9;
    background-color: #dbe3ec;
}

/* Media navbar */
@media screen and (max-width: 575px) {
    .conteneur-navbar ul{
        display: none;
    }

    .menu{
        display: inline-block;
        width: 41px;
        height: 41px;
        border: 1px solid black;
        border-radius: 50px;
        cursor: pointer;
    }
    #principal{
        width: 100% !important;
        margin: 0 !important;
        text-align: center !important;
    }
    #bar-vertical{
        display: none;
    }
    #choix-demande{
        margin: 0 !important;
    }

    #choix-demande button{

        width: 150px;
    }

}
@media screen and (max-width: 340px) {
    #choix-demande button{
        width: 120px;
    }
}



/* Fin media navbar */

/* Fin style navbar */


/* Début style connexion */

.page-connexion{
    width: 30%;
    min-width: 320px;
    margin: auto;
    padding: 10px;
}

.page-connexion h2{
    margin: 25px 0;
    padding: 10px 0;
}

.page-connexion input{
    height: 35px;
    border: 1px solid #d7dee7;
}

.page-connexion .formulaire-connexion .se-souvenir{
    align-self: flex-start;
    display: flex;
}

.separateur-ou {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
    margin: 6px 0 !important;
}

.separateur-ou::after, .separateur-ou::before{
    content: "";
    display: inline-block;
    width: 40%;
    height: 1px;
    margin: 0 8px;
    background-color: #bfc6ce;
}

/* Message erreur*/
.message-erreur{
    color: crimson;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 0;
}

.erreur-pseudo, .erreur-mdp{
    margin-top: 0;
    margin-bottom: 10px;
}
/* Fin message erreur*/
/* Fin style connexion */


/*Debut modal*/
.conteneur-modal{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: none;
}

.conteneur-modal.active{
    display: block;
}
.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #333333d3;
}

.modal{
    max-width: 500px;
    min-width: 300px;
    padding: 30px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.fermer-modal{
    padding: 3px 10px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background-color: #ff365e;
    color: #fff;
}

.modal p{
    margin: 20px 0;
}

/*Fin modal*/

/*Offres*/
.offres{
    margin: auto;
    margin-top: 20px;
    width: 60%;
}
/*Fin offres*/

/* Message de bienvenue
.bienvenue-popup{
    background-color: black;
    color: greenyellow;
    height: 30px;
    width: auto;
    padding: 4px 5px;
    border-radius: 8px;
    box-shadow: 0px 0px 25px -2px #000000 ;
    position: absolute;
    right: 40px;
    top: 80px;
    display: none;
    opacity: 0.6;
    transition: opacity 2.5s ease;
}
Fin Message de bienvenue*/

/* Inscription */
.page-inscription{
    margin: auto;
    margin-top: 20px;
    width: 30%;
}
.page-inscription form label span, .obligatoire{
    color: crimson;
}
.obligatoire{
    font-size: 11px;
}

/* Inscription */

/* Admin */
.page-admin{
    height: 100vh;
}
/* bar vertical */

#bar-vertical{
    display: block;
    height: 100%;
    top: 70px;
    background-color: #e1e9f3;
    text-align: center;
    width: 15%;
}

#bar-vertical h2{
    margin-top: 20px;
}
#bar-vertical .contenu-bar-vert{
    margin: 50px 0;
}

#principal {
    width: 85%;
    margin-left: auto;
    height: 100%;
}
#choix-demande{
    margin-top: 20px;
    margin-left: 4%;
}

#bar-hori{
    text-align: center;
}

#bar-hori h2{
    margin: 0;
}

#choix-page{
    margin: auto;
}

#choix-page button{
    width: 120px;
}
/* Fin bar vertical */

/* Contenu */
#contenu{
    height: 100%;
    padding: 30px;
}

/* Fin contenu */

.utilisateur{
    border: 1px solid rgba(0,0,0,0.3);
    box-shadow: 0px 5px 13px 5px #d8e0ea ;
    border-radius: 8px;
    padding: 15px;
    margin: 30px auto;
}
.utilisateur form{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.utilisateur form .est-admin input{
    padding: 10px;
}

.utilisateur form p{
    margin: 0;
}
.utilisateur form .boutons button{
    width: 49% !important;
}

.raison-refus{
    display: none;
    margin: 25px 10px;
}
.raison-refus form textarea{
    background-color: transparent !important;
    margin: 0 10px;
    width: 70% !important;
}
.montrer-block{
    display: block;
}

.est-admin label{
    margin-right: 5px;
}
.refus-raison{
    text-align: center;
    margin-top: 5px;
    padding: 10px 0;
}
.commentaire-refus{
    display: inline;
    margin-left: 10px;
}
/* Fin Admin*/